@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Aldus1";

  src: url("/assets/fonts/Aldus.ttf") format("truetype");
}

@font-face {
  font-family: "Garamond";
  src: url("/assets/fonts/Garamond.ttf") format("truetype");
}

@font-face {
  font-family: "Monecias";
  src: url("/assets/fonts/Monecias-Regular.ttf") format("truetype");
}

* {
  font-family: Aldus1;
}

html {
  scroll-behavior: smooth;
}

@keyframes rainbow {
  0% {
    color: #fff;
  }

  60% {
    color: #e9831d;
  }
  80% {
    color: #c0b6ab;
  }
  /* 36% {
    color: #ffff00;
  }
  48% {
    color: #328a26;
  }
  60% {
    color: #2c74c1;
  }
  72% {
    color: #b7ed8a;
  }
  84% {
    color: #e1be9e;
  } */
  100% {
    color: #fff;
  }
}

.rainbow {
  animation: rainbow 5s linear infinite;
}

/* @keyframes full-rainbow {
  0% {
    color: #fff;
  }

  12% {
    color: red;
  }
  24% {
    color: #c0b6ab;
  }
  36% {
    color: #ffff00;
  }
  48% {
    color: #328a26;
  }
  60% {
    color: #2c74c1;
  }
  72% {
    color: #b7ed8a;
  }
  84% {
    color: #e1be9e;
  }
  100% {
    color: #fff;
  }
}

.full-rainbow {
  animation: full-rainbow 5s 1s linear infinite;
} */

/* 
  .landing-container {
    background-color: black;
    height: 110%;
    margin-top: -100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(90deg, white, white,white, white,#000000, #000000,#000000, #000000, #000000, white, white,white,white);
    /* background: linear-gradient(90deg, #000000, #000000,#000000, #fff8f1, #000000, #000000,#000000);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
  }
  
  @keyframes color {
    0% {
      background-position: 0, 50%;
    }
    50% {
      background-position: 100%, 50%;
    }
    100% {
      background-position: 0, 50%;
    }
  }
  
  .landing-title {
    color: red;
    background-color: black;
    text-shadow: 0 0 120px rgba(225, 34, 34, 0.7);
    font-size: 300px;
    letter-spacing: 10px;
    margin: 0;
    background: linear-gradient(
      to right,
      rgb(101, 12, 12),
      rgb(110, 12, 4),
      rgb(50, 13, 9)
    ); Ajusta los colores según sea necesario 
    -webkit-background-clip: text; /* Esto permite que el degradado se aplique solo al texto 
    background-clip: none;
    color: transparent; /* Hace que el texto sea transparente, revelando el degradado de fondo 
    border-bottom-left-radius: 200px; /* Ajusta el radio según sea necesario 
    border-bottom-right-radius: 200px;
  } */

.book-body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e0e4ee;
  perspective: 1000px;
}
.book {
  display: flex;
  align-items: center;
  /* cursor: pointer; */
  transform-style: preserve-3d; /* para que funcione perspective*/
  position: relative;
}

.book:hover .cover {
  transform: rotateX(10deg) rotateY(-180deg);
}

.book:hover .page {
  transform: rotateX(10deg) rotateY(-180deg);
  z-index: 2;
}

.cover {
  z-index: 1;
  transition: all 3s;
}

.back-cover {
  z-index: -2;
}

.cover,
.back-cover {
  height: 450px;
  width: 390px;
  background: #353755;
  border-radius: 2px 20px 20px 2px;
  position: absolute;
  box-shadow: 1px 1px 10px gray;
  transform: rotateX(10deg);
  transform-origin: center left;
}
.page,
.last-page {
  height: 420px;
  width: 375px;
  background: white;
  position: absolute;
  border-radius: 2px 10px 10px 2px;
  transform: rotateX(10deg);
  transform-origin: center left;
  z-index: -1;
}

.page:nth-child(2) {
  transition-duration: 3s;
}
.page:nth-child(3) {
  transition-duration: 2.6s;
}
.page:nth-child(4) {
  transition-duration: 2.2s;
}
.page:nth-child(5) {
  transition-duration: 1.8s;
}
.page:nth-child(6) {
  transition-duration: 1.4s;
}

.book:hover .page:nth-child(2) {
  transition-duration: 3s;
}
.book:hover .page:nth-child(3) {
  transition-duration: 2.6s;
}
.book:hover .page:nth-child(4) {
  transition-duration: 2.2s;
}
.book:hover .page:nth-child(5) {
  transition-duration: 1.8s;
}
.book:hover .page:nth-child(6) {
  transition-duration: 1.4s;
}

.last-page img {
  width: 80%;
  display: block;
  margin: 0px auto;
  position: relative;
  z-index: -1;
}

@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");

.book {
  display: flex;
  justify-content: center;
  transition: all 0.5s ease;
  position: relative;
  width: 100%;
}
.book.centered {
  justify-content: center;
}

#cover {
  width: 370px;
  height: 520px;
}
.flip-book {
  width: 370px;
  height: 520px;
  position: relative;
  perspective: 1500px;
  transition: all 0.5s ease;
}
.book.centered {
  transform: translate(185px); /* Reset any transform when centered */
  transition: all 1s ease-out;
}

.flip {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: left;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  transition: 0.6s;
  color: #000;
}

.front {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  box-sizing: border-box;

  box-shadow: inset 20px 0 50px rgba(0, 0, 0, 0.5) 0 2px 5px rgba(0, 0, 0, 0.5);
}
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}
.next-btn {
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
  right: -2.4rem;
  cursor: pointer;
  color: #000;

}
.back-btn {
  position: absolute;
  bottom: 50%;
  left: -2.4rem;
  transform: translateY(50%);
  cursor: pointer;
  color: #000;
  z-index: 20;
}
#p1 {
  z-index: 3;
}
#p2 {
  z-index: 2;
}
#p3 {
  z-index: 1;
}
#c1:checked ~ .flip-book #p1 {
  transform: rotateY(-180deg);
  z-index: 1;
  transition-delay: 0.5s;
}
#c2:checked ~ .flip-book #p2 {
  transform: rotateY(-180deg);
  z-index: 2;
}
#c3:checked ~ .flip-book #p3 {
  transform: rotateY(-180deg);
  z-index: 3;
}

@keyframes custom-pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.98);
  }
}

.animate-custom-pulse {
  animation: custom-pulse 4s infinite;
}

@keyframes custom-pulse-2 {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
}

.animate-custom-pulse-2 {
  animation: custom-pulse-2 3s infinite;
}

@keyframes custom-pulse-3 {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
}

.animate-custom-pulse-3 {
  animation: custom-pulse-3 2s infinite;
}

.shadow-border-b {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

@keyframes fadeInUpSub {
  0% {
    opacity: 0;
    transform: translateY(150px);
  }
  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(250px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-title {
  animation: fadeInUp 1.5s ease-out forwards;
}

.animate-fade-subtitle {
  animation: fadeInUpSub 2.2s ease-out forwards;
}

@keyframes collapseIn {
  0% {
    max-height: 0;
    opacity: 0.9;
    overflow: hidden;
  }
  100% {
    max-height: 600px; /* Ajusta esto según la altura esperada del contenido */
    opacity: 1;
    overflow: hidden;
  }
}

@keyframes collapseOut {
  0% {
    max-height: 600px; /* Ajusta esto según la altura esperada del contenido */
    opacity: 1;
    overflow: hidden;
  }
  100% {
    max-height: 0;
    opacity: 0.95;
    overflow: hidden;
  }
}

.animate-collapse-in {
  animation: collapseIn 0.5s ease forwards;
}

.animate-collapse-out {
  animation: collapseOut 0.7s ease forwards;
}

@keyframes opacity-infinite {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.6;
  }
}

.animation-opacity-infinite {
  animation: opacity-infinite 2.5s ease infinite;
}

.levatate-effect {
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1), -10px -10px 10px #f9f9f9;
}

.levatate-effect-y {
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1), -10px -10px 10px #f9f9f9;
}
.levatate-effect {
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1), -10px -10px 10px #f9f9f9;
}

@supports (-webkit-touch-callout: none) {
  .safari-fix {
    background-attachment: scroll;
  }
}

.custom-shadow {
  box-shadow: 0px 10px 50px rgba(255, 0, 0, 1),
    inset 0px 10px 50px rgba(255, 0, 0, 0.2);
  border: none;
}
/* 
.indicator{
  position: relative;
  width: 3rem;
  height: 3rem;
  transform: rotate(45deg);
}

.indicator span{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: block;
  box-sizing: border-block;
  border: none;
  border-top: 3px solid red;
  border-right: 3px solid red;
  animation: animate 1s linear infinite;
}

.indicator span:nth-child(1){
  top: 0;
  left: 0rem;
}
.indicator span:nth-child(2){
  top: 0;
  left: 1rem;
  
}
.indicator span:nth-child(3){
  top: 0;
  left: 2rem;
}
.indicator span:nth-child(4){
  top: 0;
  left: 3rem;
}
.indicator span:nth-child(5){
  top: 0;
  left: 4rem;
}*/

@keyframes animate {
  0% {
    border-color: #fffbf5;
    transform: translateX(0);
  }
  20% {
    border-color: #a5884b;
    transform: translateX(10px);
  }
  20.1%,
  100% {
    border-color: #a5884b;
  }
}

.animate-scroll-indicator {
  animation: animate 1s linear infinite;
}

/* @keyframes animate {
  0%{
    border-color: red;
    transform: translate(0,0); 
  }
  20%{
    border-color: #222;
     transform: translate(15px,15px); 
  }
  20.1% , 100%{
    border-color: #222;
  }
} */

.transition-transform-opacity {
  transition: transform 1.2s ease, opacity 0.8s ease;
}

.translate-left {
  transform: translateX(-100%);
  opacity: 0.1;
}

.translate-right {
  transform: translateX(30%);
  opacity: 0.1;
}

.translate-reset {
  transform: translateX(0);
  opacity: 0.6;
}

.special-shadow{
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1),
              -10px -10px 10px white;
}


.landing-container {
  background-color: black;
  height: 110%;
  background: linear-gradient(45deg, #FFF9BC, #FFF7BA,#EEB048,#783F1A);
  /* background: linear-gradient(90deg, #eed9b6, white,white, white,#000000, #000000,#000000, #000000, #000000, white, white,white,white); */
  background-size: 300% 300%;
  animation: color 5s ease-in-out infinite;
}

@keyframes color {
  0% {
    background-position: 0, 50%;
  }
  50% {
    background-position: 100%, 50%;
  }
  100% {
    background-position: 0, 50%;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in-ws {
  display: inline-block;
  white-space: nowrap;
  animation: slideIn 1s ease-out;
}

@keyframes rotation{
  from{
    transform: rotate(0deg);
  }
  
  to{
    transform: rotate(360deg);
  }
}

.animation-rotation{
  animation: rotation 60s linear infinite;
}

.transition-opacity {
  transition: opacity 0.3s ease-in-out;
}